#!/bin/sh
#
# Copy this file as update_tools.sh and set the API keys.
# This file should **NOT** be committed.

export GITHUB_API_KEY=abcdefghijklmnopqrstuvwxyz

./bin/update.py html/tools/tools-data.js

