# Policy: Support redirects for at least one year.
# Removed redirect after a year:
#   - comment out the REDIRECT
#   - add a note: Removed YYYY-MM-DD
#   - wait and see if 404s show up, then decide

# Added 2014-09-20
REDIRECT 301 /docs/troubleshooting-sync.html    /docs/taskserver/troubleshooting-sync.html
REDIRECT 301 /docs/ciphers.html                 /docs/taskserver/ciphers.html
REDIRECT 301 /docs/server_configure.html        /docs/taskserver/configure.html
REDIRECT 301 /docs/server_control.html          /docs/taskserver/control.html
REDIRECT 301 /docs/server_git.html              /docs/taskserver/git.html
REDIRECT 301 /docs/server_package.html          /docs/taskserver/package.html
REDIRECT 301 /docs/server_prep.html             /docs/taskserver/prep.html
REDIRECT 301 /docs/server_setup.html            /docs/taskserver/setup.html
REDIRECT 301 /docs/server_sync.html             /docs/taskserver/sync.html
REDIRECT 301 /docs/server_tarball.html          /docs/taskserver/tarball.html
REDIRECT 301 /docs/server_user.html             /docs/taskserver/user.html
REDIRECT 301 /docs/server_why.html              /docs/taskserver/why.html

# Added 2014-10-11
REDIRECT 301 /docs/glossary.html                /docs/terminology.html

# Added 2015-03-01
REDIRECT 301 /docs/design/dates.html            /docs/named_dates.html
REDIRECT 301 /docs/design/hooks.html            /docs/hooks.html

# Added 2015-03-15
REDIRECT 301 /docs/design/context.html          /docs/context.html

# Added 2015-05-02
REDIRECT 301 /docs/design/hooks2.html           /docs/hooks2.html

# Added 2015-08-15
REDIRECT 301 /docs/tutorials/index.html         /docs/index.html
REDIRECT 301 /docs/tutorials/30second.html      /docs/30second.html
REDIRECT 301 /docs/tutorials/filter.html        /docs/filter.html
REDIRECT 301 /docs/tutorials/introduction.html  /docs/introduction.html
REDIRECT 301 /docs/tutorials/report.html        /docs/report.html
REDIRECT 301 /docs/tutorials/searching.html     /docs/searching.html
REDIRECT 301 /docs/tutorials/start.html         /docs/start.html

# Added 2015-08-29
REDIRECT 301 /docs/commands/annotate.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/append.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/calendar.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/colors.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/commands.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/config.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/context.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/count.html             /docs/commands/missing.html
REDIRECT 301 /docs/commands/delete.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/denotate.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/diagnostics.html       /docs/commands/missing.html
REDIRECT 301 /docs/commands/done.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/duplicate.html         /docs/commands/missing.html
REDIRECT 301 /docs/commands/edit.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/execute.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/help.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/ids.html               /docs/commands/missing.html
REDIRECT 301 /docs/commands/import.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/logo.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/prepend.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/projects.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/reports.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/start.html             /docs/commands/missing.html
REDIRECT 301 /docs/commands/stop.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/synchronize.html       /docs/commands/missing.html
REDIRECT 301 /docs/commands/tags.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/udas.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/undo.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/uuids.html             /docs/commands/missing.html
REDIRECT 301 /docs/commands/version.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/active.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/all.html               /docs/commands/missing.html
REDIRECT 301 /docs/commands/blocked.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/blocking.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/completed.html         /docs/commands/missing.html
REDIRECT 301 /docs/commands/long.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/ls.html                /docs/commands/missing.html
REDIRECT 301 /docs/commands/minimal.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/newest.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/next.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/oldest.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/overdue.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/ready.html             /docs/commands/missing.html
REDIRECT 301 /docs/commands/recurring.html         /docs/commands/missing.html
REDIRECT 301 /docs/commands/unblocked.html         /docs/commands/missing.html
REDIRECT 301 /docs/commands/waiting.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/burndown.daily.html    /docs/commands/missing.html
REDIRECT 301 /docs/commands/burndown.monthly.html  /docs/commands/missing.html
REDIRECT 301 /docs/commands/burndown.weekly.html   /docs/commands/missing.html
REDIRECT 301 /docs/commands/ghistory.annual.html   /docs/commands/missing.html
REDIRECT 301 /docs/commands/ghistory.monthly.html  /docs/commands/missing.html
REDIRECT 301 /docs/commands/history.annual.html    /docs/commands/missing.html
REDIRECT 301 /docs/commands/history.monthly.html   /docs/commands/missing.html
REDIRECT 301 /docs/commands/show.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/stats.html             /docs/commands/missing.html
REDIRECT 301 /docs/commands/summary.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/timesheet.html         /docs/commands/missing.html
REDIRECT 301 /docs/commands/_aliases.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/_columns.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/_commands.html         /docs/commands/missing.html
REDIRECT 301 /docs/commands/_config.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/_context.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/_ids.html              /docs/commands/missing.html
REDIRECT 301 /docs/commands/_projects.html         /docs/commands/missing.html
REDIRECT 301 /docs/commands/_show.html             /docs/commands/missing.html
REDIRECT 301 /docs/commands/_tags.html             /docs/commands/missing.html
REDIRECT 301 /docs/commands/_udas.html             /docs/commands/missing.html
REDIRECT 301 /docs/commands/_urgency.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/_uuids.html            /docs/commands/missing.html
REDIRECT 301 /docs/commands/_version.html          /docs/commands/missing.html
REDIRECT 301 /docs/commands/_zshattributes.html    /docs/commands/missing.html
REDIRECT 301 /docs/commands/_zshcommands.html      /docs/commands/missing.html
REDIRECT 301 /docs/commands/_zshids.html           /docs/commands/missing.html
REDIRECT 301 /docs/commands/_zshuuids.html         /docs/commands/missing.html

