# Policy: Support redirects for at least one year.

# Added 2015-03-14
REDIRECT 301 /project                                           /index.html
REDIRECT 301 /wiki                                              /docs/index.html
REDIRECT 301 /account                                           https://bug.tasktools.org
REDIRECT 301 /user                                              https://bug.tasktools.org
REDIRECT 301 /users                                             https://bug.tasktools.org
REDIRECT 301 /issues                                            https://bug.tasktools.org
REDIRECT 301 /attachments                                       /index.html
REDIRECT 301 /boards                                            /index.html
REDIRECT 301 /activity                                          /news/index.html

# Added 2015-03-16
REDIRECT 301 /projects/show/taskwarrior                         /index.html
REDIRECT 301 /attachments/download/437/dark-solarized-256.png   /docs/images/solarized-dark-256.png
REDIRECT 301 /attachments/download/436/light-solarized-256.png  /docs/images/solarized-light-256.png
REDIRECT 301 /time_entries                                      /index.html

# Added 2015-04-05
REDIRECT 301 /projects                                          /index.html
REDIRECT 301 /admin                                             /index.html

# Added 2015-04-11
REDIRECT 301 /index.html/download/437/dark-solarized-256.png    /docs/images/solarized-dark-256.png
REDIRECT 301 /index.html/download/436/light-solarized-256.png   /docs/images/solarized-light-256.png
REDIRECT 301 /FCKeditor                                         /index.html
REDIRECT 301 /fckeditor                                         /index.html
REDIRECT 301 /includes                                          /index.html
REDIRECT 301 /editor                                            /index.html

# Added 2015-05-06 # Files readded 2015-05-07
# REDIRECT 301 /download/task-2.3.0.ref.pdf                      /download/task-2.4.3.ref.pdf
# REDIRECT 301 /download/task-2.4.0.ref.pdf                      /download/task-2.4.3.ref.pdf
# REDIRECT 301 /download/task-2.4.1.ref.pdf                      /download/task-2.4.3.ref.pdf
# REDIRECT 301 /download/task-2.4.2.ref.pdf                      /download/task-2.4.3.ref.pdf

# Added 2015-05-23
REDIRECT 301 /versions                                          /docs/history.html
REDIRECT 301 /blog                                              /news/index.html

# Added 2015-11-08
REDIRECT 301 /download/task-2.0.0.tar.gz                       /download/task-latest.tar.gz
REDIRECT 301 /download/task-2.1.0.tar.gz                       /download/task-latest.tar.gz
REDIRECT 301 /download/task-2.1.1.tar.gz                       /download/task-latest.tar.gz
REDIRECT 301 /download/task-2.1.2.tar.gz                       /download/task-latest.tar.gz
REDIRECT 301 /download/task-2.2.0.tar.gz                       /download/task-latest.tar.gz
#REDIRECT 301 /download/task-2.3.0.tar.gz                       /download/task-latest.tar.gz
#REDIRECT 301 /download/task-2.4.0.tar.gz                       /download/task-latest.tar.gz
#REDIRECT 301 /download/task-2.4.1.tar.gz                       /download/task-latest.tar.gz
#REDIRECT 301 /download/task-2.4.2.tar.gz                       /download/task-latest.tar.gz
#REDIRECT 301 /download/task-2.4.3.tar.gz                       /download/task-latest.tar.gz
#REDIRECT 301 /download/task-2.4.4.tar.gz                       /download/task-latest.tar.gz

# Added 2015-04-02
REDIRECT 301 /news/news.20160401a.html                        /news/index.html

# Added 2016-05-22
REDIRECT 301 /tools/obsolete.html                             /tools/index.html

